---
import EmailInput from "./input/EmailInput.astro";
import PasswordInput from "./input/PasswordInput.astro";
import Checkbox from "./input/Checkbox.astro";
import AuthBtn from "@components/ui/buttons/AuthBtn.astro";
import GoogleBtn from "@components/ui/buttons/GoogleBtn.astro";

const config = {
  id: "hs-toggle-between-modals-login-modal",
  title: "Sign in",
  subTitle: "Don't have an account yet?",
  registerBtn: "Sign up here",
  registerBtnDataHS: "#hs-toggle-between-modals-register-modal",
};
---
<div
  id={config.id}
  class="hs-overlay hs-overlay-backdrop-open:bg-black/20 hs-overlay-backdrop-open:backdrop-blur-sm absolute start-0 top-0 z-50 hidden h-full w-full transition-all duration-300"
>
  <div
    class="hs-overlay-open:opacity-100 hs-overlay-open:mt-0 mt-20 flex min-h-screen items-center justify-center p-4 opacity-0 transition-all duration-500 ease-out"
  >
    <div class="w-full max-w-md">
      <div
        class="rounded-xl border border-neutral-200 bg-neutral-100 shadow-lg dark:border-neutral-700 dark:bg-neutral-800"
      >
        <div class="relative p-4 sm:p-7">
          <button
            type="button"
            class="absolute top-4 right-4 flex h-8 w-8 items-center justify-center rounded-lg text-neutral-400 transition-colors hover:bg-neutral-200 hover:text-neutral-600 dark:hover:bg-neutral-700 dark:hover:text-neutral-300"
            data-hs-overlay={`#${config.id}`}
            aria-label="Close modal"
          >
            <svg
              class="h-4 w-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>

          <div class="text-center">
            <div
              class="block text-2xl font-bold text-neutral-800 dark:text-neutral-200"
              role="heading"
              aria-level="1"
              aria-label={config.title}
            >
              {config.title}
            </div>
            <p class="mt-2 text-sm text-neutral-600 dark:text-neutral-400">
              {config.subTitle}
              <button
                class="text-brand dark:text-brand rounded-lg p-1 font-medium decoration-2 ring-zinc-500 outline-hidden hover:underline focus-visible:ring-3 dark:ring-zinc-200 dark:focus:outline-hidden"
                data-hs-overlay={config.registerBtnDataHS}
              >
                {config.registerBtn}
              </button>
            </p>
          </div>
          <div class="mt-5">
            <GoogleBtn title="Sign in with Google" />

            <div
              class="flex items-center py-3 text-xs text-neutral-400 uppercase before:me-6 before:flex-[1_1_0%] before:border-t before:border-neutral-200 after:ms-6 after:flex-[1_1_0%] after:border-t after:border-neutral-200 dark:text-neutral-500 dark:before:border-neutral-600 dark:after:border-neutral-600"
            >
              Or
            </div>
            <form>
              <div class="grid gap-y-4">
                <EmailInput id="login-email" errorId="login-email-error" />
                <PasswordInput
                  forgot={true}
                  id="password"
                  errorId="login-password-error"
                  content="8+ characters required"
                />
                <Checkbox id="remember-me" />
                <AuthBtn title="Sign in" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
